<h1>homepage / platform index</h1>

<% @platforms.each do |platform|%>
<% link_to platform.name platform_path(platform) %>
<% end %>

<% link_to 'Add an account' new_platform_platform_account(platform) %>