<div class="title-header">
<h1>Netflix, HBO, Spotify, Disney+, get them all.</h1>
</div>

<div class="platforms-container">
<% @platforms.each do |platform|%>
  <div class="platform-cards">
  <%= link_to platform_path(platform.id) do %>
  <%= cl_image_tag platform.logo.key, width: 150, crop: :fill if platform.logo.attached? %>
  </div>
  <% end %>
<% end %>
</div>

<%= link_to 'Add an account', construct_path %>


<style>

body {
  background-color: white;
}

h1, p {
  color: white;
}

.custom-container {
  min-height: 90vh;
}

.platforms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -10%;
}

.platform-cards {
    flex: 1 0 21%;
    border: solid 1px #FF4949;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 25px;
    margin: 1%;

}

.platform-cards {
  background-color: white;
}

.platform-cards:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.title-header {
  background-color: #FF4949;
  padding-top: 10%;
  border-radius: 0 0 40% 40%;
  padding-bottom: 15%;
  padding-left: 20%;
  padding-right: 20%;
  margin-left: -5%;
  margin-right: -5%;
  text-align: center;
}

h1 {
  color: white !important;
}

/* Navbar color */

a.nav-link {
    color: white !important;
}

#logo-text {
  color: white;
}

.navbar.navbar-expand-sm.navbar-light {
    background-color: #FF4949;
}
</style>
