<h1>Platform show / platform account index</h1>

<% @accounts.each do |account| %>
  <p><%= account.platform.name %><%= account.user.first_name %> - <%= account.seats_available%>/<%= account.seats_total%></p>
<% end %>
