body {
  background-color: white;
}

h1, p {
  color: white;
}

.custom-container {
  min-height: 90vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -10%;
}

.cards {
    flex: 1 0 21%;
    border: solid 1px #FF4949;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 25px;
    margin: 1%;

}

.title-header {
    background-color: #FF4949;
    padding-top: 10%;
    border-radius: 0 0 40% 40%;
    padding-bottom: 15%;
    padding-left: 20%;
    padding-right: 20%;
    margin-left: -5%;
    margin-right: -5%;
    text-align: center;
}

.cards {
  background-color: white;
}

.cards:hover {
    transform: scale(1.1);
    transition-duration: 0.8s;
}

/* Navbar color */

a.nav-link {
    color: white !important;
}

#logo-text {
  color: white;
}

.navbar.navbar-expand-sm.navbar-light {
    background-color: #FF4949;
}
