h2 {
  margin-bottom: 70px;
}

.login-form {
  width: 50%;
  align-content: center;

}

.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
    input {
      background-color: #F1EFEF;
      border-radius: 11px;
      border-color: #D7D1D1;
      padding-top: 25px;
      padding-bottom: 25px;
    }
}

.btn-login {
  input[type="submit"] {
    margin: 10px;
    color: white;
    padding: 11px 65px;
    font-weight: bold;
    border-radius: 25px;
    background:#FF4949;
  }
}

a {
  color: #FF4949;
}

.bottom-black {
  padding-bottom: 32px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
