.btn-reset {
  // margin: 10px;
  input[type="submit"] {
    margin: 20px 0px 10px 10px;
    color: white;
    padding: 11px 65px;
    font-weight: bold;
    border-radius: 25px;
    background:#FF4949;
    border-color: #FF4949;
  }
}

.email-container {
    input {
      background-color: #F1EFEF;
      border-radius: 11px;
      border-color: #D7D1D1;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

.bottom-black {
  padding-bottom: 32px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}
