.platform-box {
    display: flex;
    align-items: center;
    border: solid 2px black;
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -10%;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 2%;
}

div#platform-img {
    padding: 2%;
    border-right: solid 2px lightgray;
}

#platform-desc {
  padding-left:  3%;
}

.card-account {
  display: flex;
  border: 2px solid #FF4949;
  padding: 2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
}

.shared-by {
    font-size: 0.6em;
    color: lightgray;
    text-align: left;
}

.seats {
    font-size: 3em;
}

span.seats_available_colorized {
    color: #FF4949;
}

a.main-button {
    text-align: cemter;
    text-align: center;
    background-color: #FF4949;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 60px;
    color: white;
    font-weight: 600;
}

a.main-button:hover {
  box-sizing: border-box;
  background-color: white;
  color: #FF4949;
  text-decoration: none;
  border: solid 2px #FF4949;
  transition-duration: 0.3s;
}

.account-title {
  font-size: 1.5em;
  font-weight: 500;
}

img.user-profile {
    border-radius: 50%;
}
