.btn-signup {
  // margin: 10px;
  input[type="submit"] {
    margin: 20px 0px 10px 10px;
    color: white;
    padding: 11px 65px;
    font-weight: bold;
    border-radius: 25px;
    background:#FF4949;
    border-color: #FF4949;
  }
}

input#user_photo {
    display: none;
}

.form-group.file.optional.user_photo {
    width: 49%;
    background: #f1efef;
    height: 52px;
    border-radius: 11px;
    border: solid 1px #dbd6d6;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

label.file.optional {
    color: #6c757c;
    margin: 0;
    cursor: pointer;
}

.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
    input {
      background-color: #F1EFEF;
      border-radius: 11px;
      border-color: #D7D1D1;
      padding-top: 25px;
      padding-bottom: 25px;
    }
    select {
      height: 52px;
      background-color: #F1EFEF;
      border-radius: 11px;
      border-color: #D7D1D1;
      color: #6C757D;
    }
  .form-inputs {
    width: 45%;
  }
}

.user_first_name {
  width: 49%;

}

.user_last_name {
  width: 49%;
}


