<div class="footer">
  <h4>shareflix</h4>
  <br>
  <div class="paragraph">
    <a href="">About us</a><br/>
    <a href="">Manifesto</a><br/>
    <a href="">Contact</a><br/>
    <a href="">Le Wagon</a>
    <br>
  </div>
  <div class="signature">
    <p>made with <span>amour</span> in Paris</p>
  </div>
</div>
