<div class="footer">
  <h4>shareflix</h4>
  <br>
  <div class="paragraph">
    <a href="">About us</a><br/>
    <a href="">Manifesto</a><br/>
    <a href="">Contact</a><br/>
    <a href="https://www.lewagon.com/" target="_blank">Le Wagon</a><br/>
    <a href="https://github.com/alextouze20/shareflix" target="_blank"><i class="fab fa-github" style="color: white; font-size: 1.5em; margin-top: 1%;"></i></a>
    <br>
  </div>
  <div class="signature">
    <p>made with <span>amour</span> at Le Wagon by <a href="https://github.com/patriciablbn" target="_blank">patriciablbn</a>, <a href="https://github.com/CorentinBourda" target="_blank">CorentinBourda</a>, <a href="https://github.com/OctaveC" target="_blank">OctaveC</a> & <a href="https://github.com/alextouze20/" target="_blank">alextouze</a></p>
  </div>
</div>
