p{
  color: black;
  opacity: 0.5;
  width: auto;
}
.message-not-user{
  text-align: left;
  background-color: grey;
  color: black;
  align-self: flex-start;
}
.message-from-user{
  text-align: right;
  color: white;
  background-color: red;
  align-self: flex-end;
}
.form-message{
    width: 377px;
    position: relative;
    right: 50%;
    top: 30px;
}
.messages{
  overflow: scroll;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
}
.clicked{
  background-color: red;
}
#chatrooms{
  background-color: grey;
  height: 100vh;
}
.chatroom-container{
  widows:100%;
}
.message{
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  border-radius: 30px;
}
