.text-chatroom {
  color: black;
  opacity: 0.5;
  width: auto;
}
.message-avatar{
  width: 50px;
  height: 50px;
}
.message-not-user .message{
  text-align: left;
  background-color: grey;
  color: black;
}
.message-container-from-user{
  align-self: flex-end;
}
.message-container-not-user{
 align-self: flex-start;
}
.message-from-user .message{
  text-align: right;
  color: white;
  background-color: red;
  align-self: flex-end;
}
.form-message{
    width: 377px;
    position: relative;
    right: 50%;
    top: 30px;
}
.messages{
  overflow-y: scroll;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  width: 94%;
}
.clicked{
  background-color: red;
}
#chatrooms{
  background-color: grey;
  height: 100vh;
}
.chatroom-container{
}
.message{
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  border-radius: 30px;
}
.submit-btn-chat{
  border: none;
  font-size: 50px;
  background: transparent;
}
