.text-chatroom {
  color: black;
  opacity: 0.5;
  width: auto;
}
.message-avatar{
  width: 50px;
  height: 50px;
}
.message-not-user .message{
  text-align: left;
  background-color: #F2F2F2;
  color: #35363A;
  height: 45px;
}
.message-container-from-user{
  align-self: flex-end;
}
.message-container-not-user{
 align-self: flex-start;
}
.message-from-user .message{
  text-align: right;
  color: white;
  background-color: #ff4949;
  align-self: flex-end;
  height: 45px;
}
.form-message{
    width: 377px;
    position: relative;
    right: 50%;
    top: 30px;
}
.messages{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding-right: 2%;
}
.clicked{
  background-color: #ff4949;
}
#chatrooms{
  background-color: #2C2626;
  height: 100vh;
  overflow: scroll;
}
.chatroom-container{
}
.message{
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  border-radius: 30px;
}
.submit-btn-chat{
  border: none;
  font-size: 50px;
  background: transparent;
  border-radius: 50%;
  color: #ff4949;
  position: absolute;
  top: -48px;
  margin-left: -85px;
}
.form-chatroom{
  height: 25vh
}
.user-avatar{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.elements-chatroom{
  border-bottom:  solid 1px #979797;
  border-bottom-width: 80%;
  padding: 20px;
  padding-right: 0px;
  margin-right: 0px;
}
.chatroom{
  padding-right: 0px;
}
.chat-description{
  color: white;
  font-size: 1.3em;
}
.fa-angle-right{
  color: white;
  font-size: 20px;
}
// .photo-user{
//   position: relative;
//   left: -44px;
// }
// .photo-other {
//     position: relative;
//     right: -175px;
// }
.message-from-user{
  align-self: flex-end;
}
.message-not-user{
  align-self: flex-start;
}

// .message-not-user{
//   position: relative;
//   right: 192px;
// }
// .message-from-user{
//     position: relative;
//     left: 165px;
// }
.fa-home{
  font-size: 25px;
  color: #ff4949;
  border-radius: 50%;
  padding: 10px;
  border: solid 3px #ff4949;
  margin-top: 20px;
}
.photo{
  margin: 0px 10px;
}
.container-chat{
  height: calc(100vh - 71px);
}

textarea#message_content {
  background-color: #f2f2f2;
  border: none;
  border-radius: 50px;
  padding-top: 2%;
  font-weight: 300;
  padding-top: 2%;
  padding-left: 3%;
}

.message-from-user .message > div.content-msg > p {
    color: white !important;
}

i.author {
    font-size: 0.8em;
}
