.footer {
  background-color: #2C2626 !important;
  padding-top: 5%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;

  .paragraph a {
    opacity: 1;
    color: white;
  }

  .signature p {
    text-align: center;
    color: white;
    span {
      color: #FF4949;
    }
  }
}

.paragraph {
  margin-bottom: 5%;
}

.footer h4 {
  color: #6d6363;
}
