// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/footer";
@import "pages/index";
@import "pages/construct";
@import "pages/signup";
@import "pages/build_subscription";
@import "pages/build_seats";
@import "pages/password";

// General rules

h1, h2, h3, h4, h5, p {
  font-family: Poppins, sans-serif;
  color: #2C2626;
}

body {
  font-family: Poppins, sans-serif;
  color: #2C2626;
}

.custom-container {
  min-height: calc(100vh - 272px);
}
